{% extends "base.jinja" %}

{% block body %}
    {% for ppath, pmeta in meta.items() %}
        <div class="post-preview-container">
            <a href="{{ ppath }}" title="{{ pmeta.subtitle }}">
                <section class="post-preview" id="post-{{ pmeta.id }}">
                    <h1 class="post-preview-title">{{ pmeta.title }}</h1>
                    <p class="post-preview-content">
                        {{ pmeta.body }}
                    </p>
                    <div class="post-preview-title-date">{{ pmeta.date.strftime('%Y-%m-%d') }}</div>
                </section>
            </a>
        </div>
    {% endfor %}
{% endblock %}
