@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&family=Press+Start+2P&family=Ubuntu&display=swap");

* {
    font-family: "Ubuntu";
}

:root {
    font-size: 14pt;
    background-color: #fffefe;
    color: #111;
}

body {
    min-height: 800px;
    margin: 0;
    box-sizing: border-box;
}

table {
    margin: auto;
}

td, th {
    padding: 0 1em;
}

tbody > tr:nth-child(odd) {
    background-color: #eee;
}

p, .post li, code, pre {
    font-family: "Courier Prime";
}

a, b, i, em {
    font-family: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

pre {
    font-size: 0.8rem;
    padding: 1rem;
}

pre {
    background-color: #bbb;
}

p code {
    color: rgb(149, 151, 255);
}

footer a,
.post a {
    color: #ff7777;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover,
.post a:hover {
    text-shadow: #f77 0px 0px 8px;
}

.post-title {
    font-size: 3rem;
    margin-bottom: 0;
}

.post-subtitle {
    font-size: 2rem;
    margin-top: 0;
}

.main-title {
    font-family: "Press Start 2P";
    font-size: 3rem;
    margin-top: 0;
}

.main-subtitle {
    color: #f77;
}

.main-subtitle:before {
    content: "/*";
}

.main-subtitle:after {
    content: "*/";
}

.post-preview-title-date {
    font-weight: normal;
    font-size: 1rem;
    color: #7777;
    text-align: right;
}

.post-preview-title-date:before {
    content: "// ";
    vertical-align: baseline;
}

.main,
.main-header {
    width: 80vw;
    max-width: 900px;
    margin: auto;
    padding-top: 3rem;
}

.main-header {
    text-align: center;
    letter-spacing: 0.5rem;
    margin-bottom: 3rem;
}

.main-header h2 {
    letter-spacing: 0.25rem;
    word-spacing: 0.5rem;
}

.post-preview-container:last-of-type {
    margin-bottom: 4rem;
}

.main-footer {
    left: 0;
    width: 100%;
    margin-top: 10rem;
}

.main-footer > div {
    width: 80vw;
    max-width: 900px;
    margin: auto;
}

.post-preview-container {
    padding: .5rem;
}

.post-preview-container:hover {
    box-shadow: #1111 10px 10px 10px;
}

.post {
    padding: 1rem;
    font-size: 18pt;
}

.post img {
    display: block;
    margin: 2rem auto;
    max-width: 600px;
}

.post ul, .post ol {
    margin: 2rem auto;
}

.post li {
    margin: .5rem;
}

.post p {
    text-align: justify;
    line-height: 125%;
    margin: 1.5rem auto;
}

.post p > img + em {
    font-size: 0.8rem;
}

.align-right {
    text-align: right;
}
